/* branding color #7DAF96 */
/* redwood photo Photo by <a href="https://unsplash.com/@dmey503?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dan Meyers</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
* {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

body {
  font-family: "futura-pt", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #4b5452;
  font-size: 18pt;
}

h1,
h2 {
  font-family: "Playfair Display";
  font-weight: 800;
  background: transparent;
}

h1 {
  font-family: "Playfair Display";
  font-size: 64px;
  letter-spacing: -2px;
  line-height: 100px;
  font-weight: 300;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Playfair Display";
}

h3 {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 2px;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.arrow {
  border: solid #fffbf8;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  align-self: flex-end;
}

/* landing page */
.landing-page {
  background-image: url("content/641kb-forest-dan-meyers.jpg");
  background-size: cover;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navigation */
.navigation {
  font-size: 22px;
  width: 100vh;
  display: flex;
  justify-content: flex-start;
  gap: 1.5%;
  color: #4b5452;
  padding: 3% 2% 3% 2%;
}

.nav-logo,
.nav-links,
.nav-socials {
  display: flex;
}

.nav-logo {
  height: 1080px;
}

.nav-name {
  font-family: "Playfair Display";
}

.nav-links {
  flex: 2;
  border-radius: 0 0 40px 40px;
}

.nav-links ul {
  justify-content: center;
  gap: 5%;
  flex: 2;
}

.nav-socials {
  border-radius: 0 0 0px 40px;
}

.nav-socials ul {
  gap: 10%;
  display: flex;
  justify-content: space-around;
}

/* hero page */
.hero-logo {
  width: 23%;
  padding: 5%;
}

/* introduction */
.intro {
  background-color: #eaeceb;
  /* #D4D6D5 */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-content: center;
  height: 600px;
  padding: 3% 20%;
  gap: 10%;
}

.my-photo {
  width: auto;
  height: 60vh;
  transform: scaleX(-1);
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  text-align: left;
  /* position: absolute; */
}

.intro-text h1 {
  padding-bottom: 5%;
}

.intro-text h3 {
  padding-bottom: 3%;
}

/* tools */

.tools {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 50px;
  padding: 3% 20%;
  width: 1100px;
}

.tools-list ul {
  display: flex;
  justify-content: space-between;
  align-items: space-around;
}

.tools-figma,
.tools-html,
.tools-javascript,
.tools-css {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
