* {
  background-color: #fffbf8;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Futura Std";
  color: #4b5452;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h1 {
  font-size: 64px;
  letter-spacing: -2px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
  letter-spacing: 2px;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
}

/* Navigation */

.navigation {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.5%;
}

.nav-logo,
.nav-links,
.nav-socials {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
  padding: 1% 3% 1% 3%;

  color: #fff9f1;
}

.nav-logo {
  background-color: #679186;
  border-radius: 0 0 40px 0px;
}

img {
  background: transparent;
}
.nav-name {
  background-color: #679186;
  font-family: "Playfair Display";
}

.nav-links {
  background-color: #91bfcf;
  flex: 2;
  border-radius: 0 0 40px 40px;
}

.nav-links ul {
  background-color: #91bfcf;
  justify-content: center;
  gap: 5%;
  flex: 1;
}

.nav-links ul .page {
  background-color: #91bfcf;
}

.nav-socials {
  background-color: #fde0e4;
  border-radius: 0 0 0px 40px;
}

.nav-socials ul {
  background-color: #fde0e4;
  gap: 10%;
  display: flex;
  justify-content: space-around;
}

.nav-socials ul .test {
  background-color: #fde0e4;
  color: #4b5452;
}

/* photo and intro */
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
  gap: 2%;
}

.intro-photo {
  max-width: 100%;
  height: auto;
}

.intro-photo img {
  border-radius: 40px;
}
