/* branding color #7DAF96 */

* {
  background-color: #fffbf8;
  margin: 0;
  padding: 0;
}

body {
  font-family: "futura-pt";
  color: #4b5452;
}

h1,
h2,
h3 {
  font-family: "futura-pt", sans-serif;
  font-style: normal;
  font-weight: 800;
  background: transparent;
}

h1 {
  font-size: 64px;
  letter-spacing: -2px;
  line-height: 100px;
  font-weight: 300;
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  letter-spacing: 2px;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
}

/* Navigation */

.navigation {
  font-size: 22px;
  display: flex;
  align-items: stretch;
  gap: 1.5%;
  background-color: #7daf96;
}

.nav-logo,
.nav-links,
.nav-socials {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
  padding: 1% 3% 0.5% 3%;
  /* filter: drop-shadow(8px 5px 10px #4b5452); */
  color: #fff9f1;
}

.nav-logo {
  background-color: #7daf96;
}

img {
  background: transparent;
}
.nav-name {
  background-color: #7daf96;
  font-family: "Playfair Display";
}

.nav-links {
  background-color: #7daf96;
  flex: 2;
  border-radius: 0 0 40px 40px;
}

.nav-links ul {
  background-color: #7daf96;
  justify-content: center;
  gap: 5%;
  flex: 1;
}

.nav-links ul .page {
  background-color: #7daf96;
}

.nav-socials {
  background-color: #7daf96;
  border-radius: 0 0 0px 40px;
}

.nav-socials ul {
  background-color: #7daf96;
  gap: 10%;
  display: flex;
  justify-content: space-around;
}

.nav-socials ul .test {
  background-color: #7daf96;
  color: #4b5452;
}

/* photo and intro */
.intro {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: flex-end;
  margin: 11%;
  height: 790px;
}

.intro-photo {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 20%;
  left: 200px;
  z-index: 3;
  background: transparent;
}

.intro-photo img {
  border-radius: 40px;
  background: transparent;
  filter: drop-shadow(8px 5px 10px #4b5452);
}

.intro-box {
  display: block;
  background-color: #7daf96;
  border-radius: 60px;
  padding-left: 600px;
  padding-right: 45px;
  width: 1500px;
  height: 60%;
  position: relative;
  color: #fff9f1;
  filter: drop-shadow(8px 5px 10px #4b5452);
}

.intro-box h1 {
  padding-top: 8%;
}

.intro-box h2 {
  padding-top: 8%;
  padding-bottom: 3%;
}

.intro-box h3 {
  font-size: 18px;
  background-color: #7daf96;
  font-family: "gill-sans-nova";
  font-weight: 300;
}

/* .intro-box {
  display: inline-block;
  background-color: #679186;
  border-radius: 40px;
  width: 800px;
  height: 400px;
  transform: translateX(-140px);
} */

/* tools */
